/*font-family: 'Inter', sans-serif;

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Silkscreen', cursive;*/


header{
    background-color: #5CC8FF;
    
}

header nav ul{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
}

header nav h1{
    font-family: Silkscreen;
    font-size: 50px;

}

main{
    background-color: #c0c0c0;
    font-family: Inter;
    font-weight: 400;
    margin-top: 0;
}

section{
    background-color: #c0c0c0;
    font-family: Roboto Condensed;
    font-weight: 300;


}

section div img{
    border: #343633;
    border-radius: 12px;
}

aside{
    background-color: #FFFAFF;
    font-family: Roboto Condensed;
    font-weight: 400;
}

aside nav ul{
    list-style: none;

}

footer{
    background-color: #FC5130;
    font-family: Inter;
    font-weight: 600;
    
}

footer nav ul{
    list-style: none;
}



